name: Deploy Static Content Page

on:
  push:
    branches: ["main"]
    paths:
      - 'static/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy HTML to server
        run: |
          mkdir -p dist
          cp static/*.html dist/
          cp src/acc_server_tool.html dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: static-content
          path: dist/
